/*
 * Mizugame25 - base keymap
 *
 * Physical layout:
 *
 *   SW1    SW2    SW3    SW4    SW5
 *   SW6    SW7    SW8    SW9    SW10
 *   SW11   SW12   SW13   SW14   RE1
 *   ADSW1  ADSW2  ADSW3  ADSW4  ADSW5
 *
 * Combos and additional layers are intentionally not included yet.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* SW1 - SW5 */
                &kp K
                &kp G
                &kp J
                &kp F
                &kp P

                /* SW6 - SW10 */
                &kp LSHIFT
                &kp LGUI
                &kp LALT
                &kp SPACE
                &kp I

                /* SW11 - SW14 + RE1 */
                &kp X
                &kp U
                &kp O
                &kp Q
                &kp Z

                /* ADSW1 - ADSW5 */
                &kp LS(TAB)
                &kp TAB
                &kp TAB
                &kp TAB
                &kp LC(LS(TAB))
            >;

            /*
             * Encoder:
             * clockwise = ]
             * counter-clockwise = [
             */
            sensor-bindings = <&inc_dec_kp RBKT LBKT>;
        };
    };
};
