/*
 * Mizugame25
 *
 * Physical layout:
 *
 *   SW1    SW2    SW3    SW4    SW5
 *   SW6    SW7    SW8    SW9    SW10
 *   SW11   SW12   SW13   SW14   RE1
 *   ADSW1  ADSW2  ADSW3  ADSW4  ADSW5
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        /* SW1 + SW2 = Esc */
        combo_sw1_sw2 {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        /* SW2 + SW3 = Tab */
        combo_sw2_sw3 {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
        };

        /* SW3 + SW4 = Enter */
        combo_sw3_sw4 {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp ENTER>;
        };

        /* SW11 + SW12 = B */
        combo_sw11_sw12 {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp B>;
        };

        /* SW13 + SW14 = C */
        combo_sw13_sw14 {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp C>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* SW1 - SW5 */
                &kp K
                &kp G
                &kp J
                &kp F
                &kp P

                /* SW6 - SW10 */
                &kp LSHIFT
                &kp LGUI
                &kp LALT
                &kp SPACE
                &kp I

                /* SW11 - SW14 + RE1 */
                &kp X
                &kp U
                &kp O
                &kp Q
                &kp Z

                /* ADSW1 - ADSW5 */
                &kp LS(TAB)
                &kp TAB
                &kp TAB
                &kp TAB
                &kp LC(LS(TAB))
            >;

            /*
             * Encoder:
             * clockwise = ]
             * counter-clockwise = [
             */
            sensor-bindings = <&inc_dec_kp RBKT LBKT>;
        };
    };
};
